<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let item of items">
      <div class="card h-100">
        <a [routerLink]="type === 'series' ? ['/comics', item.id] : ['detail', item.id]">
          <img [src]="item.thumbnail.path + '.' + item.thumbnail.extension" class="card-img-top" alt="{{ item.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="text-center mt-3">
      <button type="button" class="btn btn-secondary" appBackButton>Back</button>
    </div>
  </div>
</div>
